<!DOCTYPE html>

<%- include("head.ejs") %>
    <body>

        <%- include("header.ejs") %>

            <main>
                <section class="choice">
                    <h1>What do you like the most?</h1>
                    <form class="foodform" action=/sendChoice method="POST">
                        <fieldset class="tab">
                        <label>
                            <input class="choice1" type="radio" name="food1" value="food1" required>
                            <img src=<%= data.img1 %>>
                        </label>

                        <label>
                            <input type="radio" name="food1" value="food2">
                            <img src=<%= data.img2 %>>
                        </label>
                        </fieldset>

                        <fieldset class="tab">
                            <label>
                                <input class="choice1" type="radio" name="food" value="3" required>
                                <img src=<%= data.img1 %>>
                            </label>
    
                            <label>
                                <input type="radio" name="food" value="4">
                                <img src=<%= data.img2 %>>
                            </label>
                            </fieldset>

                            <fieldset class="tab">
                                <label>
                                    <input class="choice1" type="radio" name="food" value="5" required>
                                    <img src=<%= data.img1 %>>
                                </label>
        
                                <label>
                                    <input type="radio" name="food" value="6">
                                    <img src=<%= data.img2 %>>
                                </label>
                                </fieldset>

                                <div>
                                    <button type="button" class='back' onclick="nextPrev(-1)">Back</button>
                                    <button type="button" class='next' onclick="nextPrev(1)">Next</button>
                                  </div>
                        <!-- <button type="submit">
                            Choose this</button> -->

                    </form>
                </section>
            </main>

            <%- include("footer.ejs") %>

                
            </body>
            <script src="script.js"></script>
        </html>